[submodule "lib/bop_toolkit"]
	path = lib/bop_toolkit
	url = git@github.com:thodan/bop_toolkit.git
[submodule "lib/t-less_toolkit"]
	path = lib/t-less_toolkit
	url = git@github.com:thodan/t-less_toolkit.git
[submodule "lib/pytorch-image-models"]
	path = lib/pytorch-image-models
	url = git@github.com:huggingface/pytorch-image-models.git
[submodule "tutorial/pytorch-tutorial"]
	path = tutorial/pytorch-tutorial
	url = git@github.com:xiaotudui/pytorch-tutorial.git
[submodule "thesis"]
	path = thesis
	url = https://git.overleaf.com/650b053d87dd756737c34d1a
[submodule "lib/SegFormer"]
	path = lib/SegFormer
	url = git@github.com:NVlabs/SegFormer.git
